{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>{{ title }}</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
</head>

<body>
	<nav class="deep-purple" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">e-Gov</a></div>
	</nav>
	{% block content %} {% endblock %}
	<footer class="page-footer deep-purple">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">e-Gov</h5>
					<p class="grey-text text-lighten-4">
						e-Gov is a digital e-Governance portal which offers it's users the power to reach the right people at the right time in the right way
					</p>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text"></h5>
					<!-- <ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul> -->
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Abhinav Mathur</a><i class="material-icons right">send</i></li>
						<li><a class="white-text" href="#!">Devansh Bhatia</a><i class="material-icons right">send</i></li>
						<li><a class="white-text" href="#!">Navkrishna</a><i class="material-icons right">send</i></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by <a class="orange-text text-lighten-3" href="https://github.com/dbhrockzz/codencounter">pyCounters</a>
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static 'js/materialize.min.js' %}"></script>
	<script src="{% static 'js/init.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('select').material_select();
			$('textarea').addClass('materialize-textarea');
		});
	</script>

</body>

</html>