{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="col m8 s12">
		<div class="card">
			<div class="card-tabs">
				<ul class="tabs tabs-fixed-width">
					<li class="tab"><a class="active" href="#new">New Tasks</a></li>
					<li class="tab"><a href="#completed">Completed Tasks</a></li>
				</ul>
			</div>
			<div class="card-content grey lighten-4">
				<div id="new">
					{% if new %}
					<div class="collection">
						{% for new_obj in new %}
						<a href="{% url 'department_detail' new_obj.id %}" class="collection-item">{{ new_obj.title }}<span class="right-align">{{new_obj.severity}}</span></a>
						{% endfor %}
					</ul>
					{% else %}
					<h5 class="grey-text center">No new tasks</h5>
					{% endif %}
				</div>
				<div id="completed">
					{% if done %}
					<ul class="collapsible" data-collapsible="accordion">
						{% for done_obj in done %}
						<li>
							<div class="collapsible-header">{{ done_obj.title }}<span class="right-align">{{done_obj.severity}}</span></div>
							<div class="collapsible-body"><span>{{ done_obj.description }}</span></div>
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<h5 class="grey-text center">No tasks completed</h5>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="col m4 s12">
		<div class="card">
			<div class="card-tabs">
				<ul class="tabs tabs-fixed-width">
					<li class="tab"><a href="#resources">Resources Utilised</a></li>
				</ul>
			</div>
			<div class="card-content grey lighten-4">
				<div id="resources">
					{% if resource %}
					<ul class="collection">
						{% for resource_obj in resource %}
						<li class="collection-item">{{resource.name}}</li>
						{% endfor %}
					</ul>
					{% else %}
					<h5 class="grey-text center">No resources utilised</h5>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}