{% extends 'base.html' %} {% block content %}
<div class="row">
	<ul class="collapsible popout" data-collapsible="accordion">
		<li>
			<div class="collapsible-header">{{ comp.title }}</div>
			<div class="collapsible-body">First_body</div>
		</li>
		<li>
			<div class="collapsible-header">First</div>
			<div class="collapsible-body">First_body</div>
		</li>
		<li>
			<div class="collapsible-header">First</div>
			<div class="collapsible-body">First_body</div>
		</li>
		<li>
			<div class="collapsible-header">First</div>
			<div class="collapsible-body">First_body</div>
		</li>

	</ul>
</div>
{% endblock %}